# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Logs
/logs/

# Build Files
/build/debug/
/build/release/

# Crash files
*.exe.stackdump

